#title{
    color: aquamarine;
    border-radius: 10px;
}
.roboto-mono-#title{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
#paragragh{
    color: aqua;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
}
#h3{
    color: purple;
    border-radius: 10px;
}
#art_button1{
    color: aqua;
    background-color: darkslateblue;
    width: 100px;
    font-size: large;
    font-weight:bold ;
}
.menu{
    position: fixed;
    background: black;

    width: 100%;
    margin-top: 0px;
    z-index: 9999999999999999999999999999999999;
    top: 0px;
    left:0px;
}
.items{
    display:inline;
    list-style:none;
    padding-left:30px;
    padding-right: 30px;
    font-family: monospace;
    font-size: 20px;
    float: right;
text-decoration: none;
color:white ;
}
.items:hover{
    font-size: 30px;
text-decoration: underline;

}